<footer class="bg-dark pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a href="/">
					<img class="h-70px" src="/media/assets/images/logo/dark-logo.png" alt="logo">
				</a>
				<p class="my-3 text-body-secondary">We are the world's leading car rental platform, allowing you to easily find hundreds of brands and vehicles.</p>
				<p class="mb-2"><a href="tel:+971 50 924 9115" class="text-body-secondary text-primary-hover">
					<i class="bi bi-telephone me-2"></i>+971 50 924 9115</a> </p>
				<p class="mb-0"><a href="mailto:info@sandcitycarrental.ae" class="text-body-secondary text-primary-hover">
					<i class="bi bi-envelope me-2"></i>info@sandcitycarrental.ae</a></p>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-8 ms-auto">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Quick Links</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'about_us' %}">About us</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url "contact_us" %}">Contact us</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url "blogs_page" %}">Blogs</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url "faqs" %}">FAQ's</a></li>
						</ul>
					</div>

					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Car Type</h5>
						<ul class="nav flex-column text-primary-hover">
							{% for car_type in car_types %}
							<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'car_category' car_type.slug %}">{{car_type.car_types}}</a></li>
							{% endfor %}
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-6">
						<h5 class="text-white mb-2 mb-md-4">Cars</h5>
						<div class="row">
							<div class="col-lg-6">
								<ul class="nav flex-column text-primary-hover">
									{% for car in car_detail|slice:":4" %}
									<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'car_details' car.slug %}">{{car.brand}}</a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="nav flex-column text-primary-hover">
									{% for car in car_detail|slice:"4:" %}
									<li class="nav-item"><a class="nav-link text-body-secondary" href="{% url 'car_details' car.slug %}">{{car.brand}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<!-- Link block -->
				</div>
			</div>
			<!-- Widget 2 END -->

		</div><!-- Row END -->

		<!-- Payment and card -->
		<div class="row g-4 justify-content-between mt-0 mt-md-2">

			<!-- Payment card -->
			<div class="col-sm-7 col-md-6 col-lg-4">
			</div>

			<!-- Social media icon -->
			<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
				<h5 class="text-white mb-2">Follow us on</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="https://www.facebook.com/profile.php?id=61557038000735"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="https://www.instagram.com/sandcitycarrental_dubai/">
						<i class="fab fa-fw fa-linkedin-in"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-whatsapp mb-0" href="https://web.whatsapp.com/send?phone=+971501948128"><i class="fab fa-fw fa-whatsapp"></i></a> </li>
				</ul>	
			</div>
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<div class="text-body-secondary text-primary-hover">&copy; 2024 Sandcity Car Rental Pvt. Ltd. All Rights Reserved</div>
					<!-- copyright links-->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="{% url "privacy_policy" %}">Privacy policy</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="{% url "terms_condititon" %}">Terms and conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>