{% extends "base/base.html" %}

{% block content %}
<section class="py-0">
	<div class="container">
		<!-- Title -->
		<div class="row g-4">
			<!-- Image -->
			<div class="col-12">
				<img src="{{blog.blog_image.url}}" class="rounded-3" alt="{{blog.title}}">
			</div>
			<!-- Title and content -->
			<div class="col-11 col-lg-10 mx-auto position-relative mt-n5 mt-sm-n7 mt-md-n8">
				<div class="bg-mode shadow rounded-3 p-4">
					<!-- Badge -->
					<div class="badge text-bg-success mb-2"></div>
					<!-- Title -->
					<h1 class="fs-3">{{blog.title}}</h1>
					
					<!-- List -->
					<ul class="nav nav-divider align-items-center">
						<li class="nav-item">{{blog.created_at|date:'d F Y'}}</li>
						<li class="nav-item">2 min read</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			
			<div class="col-lg-10 mx-auto">
				<p class="mb-5"><span class="dropcap text-primary bg-primary bg-opacity-10 rounded px-2"></span>{{blog.body|safe}}</p>
				
				<!-- Author info -->
				<div class="bg-mode border rounded p-4">
					<!-- Avatar and info -->
					<div class="d-flex">
						<!-- Avatar -->
						<a href="blog-detail.html#">
							<div class="avatar avatar-lg me-2 me-md-4">
								<img class="avatar-img rounded-circle" src="/media/assets/images/favicon.png" alt="{{blog.author}}">
							</div>
						</a>
						<!-- Info -->
						<div>
							<h4 class="m-0"><a href="#">{{blog.author}}</a></h4>
							<small>Admin of SandCity</small>
						</div>
					</div>

					<!-- Content -->
					<p class="my-3">
                        Join the Sandcity Car Rental family and unlock the true magic of Dubai! We're here to help you create unforgettable memories, one adventure at a time. Ready to get behind the wheel and explore Dubai? Contact us today to learn more and book your rental car!
                    </p>

					<!-- Buttons -->
					<div class="d-flex align-items-center justify-content-between">
						<!-- Social icons -->
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link ps-0 pe-2 fs-5" href="https://www.facebook.com/profile.php?id=61557038000735"><i class="bi bi-facebook"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="https://www.instagram.com/sandcitycarrental_dubai/"><i class="bi bi-instagram"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="https://web.whatsapp.com/send?phone=+971501948128"><i class="bi bi-whatsapp"></i></a>
							</li>
						</ul>					
					</div>
				</div>
	
			</div>	
		</div>
	</div>
</section>
{% endblock content %}