{% extends "base/base.html" %}

{% block content %}
<section class="pt-0 pt-sm-5">
	<div class="container">

		<!-- Title -->
		<div class="row mb-4">
            <div class="col-lg-10 mx-auto text-center">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-dots justify-content-center">
                        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house me-1"></i>Home</a></li>
                        <li class="breadcrumb-item active">Blogs</li>
                    </ol>
                </nav>
            </div>
			<div class="col-12 text-center">
                <h1 class="mb-2">SandCity Blogs</h1>
			</div>
		</div>

		<!-- Blog grid -->
		<div class="row g-4">
			<!-- Blog item START -->
            {% for blog in blogs %}
            {% if blog.is_published %}
			<div class="col-md-6 col-lg-4">
				<div class="card bg-transparent">
					<!-- Image -->
					<div class="position-relative">
						<img src="{{blog.blog_image.url}}" class="card-img" alt="{{blog.title}}">
						<!-- Badge -->
						<div class="card-img-overlay p-3">
							<span class="badge text-bg-warning mb-2">{{blog.created_at|date:'d F Y'}}</span>
						</div>
					</div>

					<!-- Card body -->
					<div class="card-body p-3 pb-0">
						<!-- Title -->
						<h5 class="card-title mt-2"><a href="{% url "blog_detail" blog.slug %}">{{blog.title}}</a></h5>
						<h6 class="fw-light mb-0">By {{blog.author}}</h6>
					</div>
				</div>
			</div>
            {% endif %}
            {% endfor %}
			<!-- Blog item END -->

		</div>
	</div>
</section>
{% endblock content %}