<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sandcity Car Rental</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Sandcity Car Rental">
	<meta name="description" content="Rental Car in Dubai">

	<meta property="og:title" content="Sandcity Car Rental">
	<meta property="og:site_name" content="Sandcity Car Rental">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://ik.imagekit.io/thevermafamily/vermafamily.png">
	<meta property="og:url" content="https://www.thevermafamily.org/">
	<meta property="og:type" content="website">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/media/assets/images/favicon.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/flatpickr/css/flatpickr.min.css">
  	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/nouislider/nouislider.css">
	<link rel="stylesheet" type="text/css" href="/media/assets/vendor/splide-master/dist/css/splide.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="/media/assets/css/style.css">

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" 
	integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" 
	crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
	
	<!-- Matomo -->
	<script>
	  var _paq = window._paq = window._paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//fake-app-matomo.apz5un.easypanel.host/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '1']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Matomo Code -->
	<script defer data-domain="sandcitycarrental.ae" src="https://analytics.sandcitycarrental.ae/js/script.js"></script>
</head>

<body>
<div class="alert alert-warning py-2 m-0 border-0 rounded-0 alert-dismissible fade show text-center overflow-hidden" 
style="background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);" role="alert">
  <p class="text-dark m-0">Check out our driving tips and tricks to navigate the roads like a local in UAE!
	<a href="/tips-and-tricks" class="btn btn-xs btn-orange ms-2 mb-0">Learn more!</a></p>
  <!-- Close button -->
  <button type="button" class="btn-close btn-xs btn-close-dark opacity-9 p-3" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Header START -->
{% include "base/includes/header.html" %}
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
{% block content %}
{% endblock content %}

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
{% include "base/includes/footer.html" %}
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/media/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/media/assets/vendor/choices/js/choices.min.js"></script>
<script src="/media/assets/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="/media/assets/vendor/jarallax/jarallax.min.js"></script>
<script src="/media/assets/vendor/jarallax/jarallax-video.min.js"></script>
<script src="/media/assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/media/assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="/media/assets/vendor/glightbox/js/glightbox.js"></script>
<script src="/media/assets/vendor/nouislider/nouislider.min.js"></script>
<script src="/media/assets/vendor/splide-master/dist/js/splide.min.js"></script>
<!-- ThemeFunctions -->
<script src="/media/assets/js/functions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

</body>
</html>
