<header class="pc-header">
    <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
    <div class="me-auto pc-mob-drp">
    <ul class="list-unstyled">
      <!-- ======= Menu collapse Icon ===== -->
      <li class="pc-h-item pc-sidebar-collapse">
        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
          <i class="ti ti-menu-2"></i>
        </a>
      </li>
      <li class="pc-h-item pc-sidebar-popup">
        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
          <i class="ti ti-menu-2"></i>
        </a>
      </li>
    </ul>
    </div>
  <!-- [Mobile Media Block end] -->
  <div class="ms-auto">
    <ul class="list-unstyled">
      <li class="dropdown pc-h-item">
        <a
          class="pc-head-link dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="index.html#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <svg class="pc-icon">
            <use xlink:href="#custom-notification"></use>
          </svg>
          <span class="badge bg-success pc-h-badge">{{total_unread_notifications}}</span>
        </a>
        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
          <div class="dropdown-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Notifications</h5>
          </div>
          <div class="dropdown-body text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
            {% with notifications=request.user.usernotification_set.all %}
            {% for notification in notifications|slice:":6" %}
            {% now "Y-m-d" as current_date %}
            {% with notification.created_at|date:"Y-m-d" as created_date %}
              {% if current_date == created_date %}
                <p class="text-span">Today</p>
              {% elif current_date|date:"j" == notification.created_at|date:"j"|add:"-1" %}
                <p class="text-span">Yesterday</p>
              {% else %}
                <p class="text-span">{{notification.created_date|date:"d M, Y"}}</p>
              {% endif %}
            {% endwith %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <svg class="pc-icon text-warning">
                                    <use xlink:href="#custom-message-2"></use>
                                </svg>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="float-end text-sm text-muted">{{notification.created_at|time:"g:i A"}}</span>
                                <h5 class="text-body mb-2">{{notification.title}}</h5>
                                <p class="mb-0">{{notification.message|safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endwith %}
          </div>
        </div>
      </li>
      <li class="dropdown pc-h-item header-user-profile">
        <a
          class="pc-head-link dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="{% url 'admin_dashboard' %}#"
          role="button"
          aria-haspopup="false"
          data-bs-auto-close="outside"
          aria-expanded="false"
        >
          <img src="{{request.user.profile.profile_image.url}}" alt="sandcity-image-{{request.user.username}}" class="user-avtar" />
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
          <div class="dropdown-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Profile</h5>
          </div>
          <div class="dropdown-body">
            <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 225px)">
              <div class="d-flex mb-1">
                <div class="flex-shrink-0">
                  <img src="{{request.user.profile.profile_image.url}}" alt="sandcity-image-{{request.user.username}}" class="user-avtar wid-35" />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="mb-1">{{request.user.first_name}} {{request.user.last_name}} 🖖</h6>
                  <span>{{request.user.email}}</span>
                </div>
              </div>
              <hr class="border-secondary border-opacity-50" />
              <div class="card">
                <div class="card-body py-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0 d-inline-flex align-items-center"
                      ><svg class="pc-icon text-muted me-2">
                        <use xlink:href="#custom-notification-outline"></use></svg>Notification</h5>
                    <div class="form-check form-switch form-check-reverse m-0">
                      <input class="form-check-input f-18" type="checkbox" role="switch" />
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-span">Manage</p>
              <a href="index.html#" class="dropdown-item">
                <span>
                  <svg class="pc-icon text-muted me-2">
                    <use xlink:href="#custom-setting-outline"></use>
                  </svg>
                  <span>Settings</span>
                </span>
              </a>
              <a href="index.html#" class="dropdown-item">
                <span>
                  <svg class="pc-icon text-muted me-2">
                    <use xlink:href="#custom-share-bold"></use>
                  </svg>
                  <span>Share</span>
                </span>
              </a>
              <a href="index.html#" class="dropdown-item">
                <span>
                  <svg class="pc-icon text-muted me-2">
                    <use xlink:href="#custom-lock-outline"></use>
                  </svg>
                  <span>Change Password</span>
                </span>
              </a>
              <hr class="border-secondary border-opacity-50" />
              <div class="d-grid mb-3">
                <a href="{% url 'logout' %}" class="btn btn-primary">
                  <svg class="pc-icon me-2">
                    <use xlink:href="#custom-logout-1-outline"></use></svg>Logout
                  </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
   </div>
  </header>