<nav class="pc-sidebar">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="{% url 'admin_dashboard' %}" class="b-brand text-primary">
          <img src="/media/assets/images/logo/light-logo.png" width="150px" class="img-fluid logo-lg" alt="logo">
          <span class="badge bg-light-success rounded-pill ms-2 theme-version">Admin</span>
        </a>
      </div>
      <div class="navbar-content">
        <div class="card pc-user-card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img src="{{request.user.profile.profile_image.url}}" alt="{{request.user.first_name}}_sandcity_profile" class="user-avtar wid-45 rounded-circle" />
              </div>
              <div class="flex-grow-1 ms-3 me-2">
                <h6 class="mb-0">{{request.user.first_name}}</h6>
                <small>Administrator</small>
              </div>
            </div>
          </div>
        </div>
  
        <ul class="pc-navbar">
          <li class="pc-item pc-caption">
            <label>Navigation</label>
          </li>
          <li class="pc-item pc-hasmenu">
            <a href="{% url 'admin_dashboard' %}" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-status-up"></use>
                </svg>
              </span>
              <span class="pc-mtext">Dashboard</span>
            </a>
          </li>
          <li class="pc-item pc-caption">
            <label>CRM Applications</label>
            <svg class="pc-icon">
              <use xlink:href="#custom-shopping-bag"></use>
            </svg>
          </li>
          <li class="pc-item">
            <a href="{% url 'admin_customers' %}" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-user-square"></use>
                </svg>
              </span>
              <span class="pc-mtext">Customer</span></a
            >
          </li>
          <li class="pc-item">
            <a href="{% url 'admin_user_orders' %}" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-bag"></use>
                </svg>
              </span>
              <span class="pc-mtext">Bookings</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="{% url 'admin_calendar' %}" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-calendar-1"></use>
                </svg>
              </span>
              <span class="pc-mtext">Calendar</span></a
            >
          </li>
          <li class="pc-item">
            <a href="{% url 'admin_notifications' %}" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-notification"></use>
                </svg>
              </span>
              <span class="pc-mtext">Notifications</span></a
            >
          </li>
          <li class="pc-item">
            <a href="{% url 'admin_contact_form_details' %}" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-sms"></use>
                </svg>
              </span>
              <span class="pc-mtext">Contact Form Leads</span></a
            >
          </li>
          <li class="pc-item pc-caption">
            <label>CMS Pages</label>
            <svg class="pc-icon">
              <use xlink:href="#custom-flag"></use>
            </svg>
          </li> 
          <li class="pc-item pc-hasmenu">
            <a href="#" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-element-plus"></use>
                </svg>
              </span>
              <span class="pc-mtext">Cars</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span
            ></a>
            <ul class="pc-submenu">
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_all_cars' %}">Cars List</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_car_categories' %}">Add Car Types</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_add_new_car' %}">Add New Cars</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_new_features' %}">Add New Features</a></li>
            </ul>
          </li>
          <li class="pc-item pc-hasmenu">
            <a href="#" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-text-block"></use>
                </svg>
              </span>
              <span class="pc-mtext">Blogs</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span
            ></a>
            <ul class="pc-submenu">
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_view_blog' %}">Blogs List</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_add_blog' %}">Add New Blogs</a></li>
            </ul>
          </li>
          <li class="pc-item pc-hasmenu">
            <a href="#" class="pc-link">
              <span class="pc-micon">
                <svg class="pc-icon">
                  <use xlink:href="#custom-flag"></use>
                </svg>
              </span>
              <span class="pc-mtext">FAQs</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span
            ></a>
            <ul class="pc-submenu">
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_faqs_list' %}">FAQs List</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin_new_faqs' %}">Add New FAQs</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>