{% extends "base/base.html" %}

{% block content %}
<section class="">
	<div class="container h-100 d-flex px-0 px-sm-4">
		<div class="row justify-content-center align-items-center m-auto">
			<div class="col-12">
				<div class="bg-mode shadow rounded-3 overflow-hidden">
					<div class="row g-0">
						<!-- Vector Image -->
						<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
								<img src="/media/assets/images/element/forgot-pass.svg" alt="forgot-pass">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block"></div>
						</div>
		
						<!-- Information -->
						<div class="col-lg-6 order-1">
							<div class="p-4 p-sm-7">
								<!-- Title -->
								<h1 class="mb-2 h3">Forgot password?</h1>
								<p class="mb-sm-0">Enter the username.</p>
		
								<!-- Form START -->
								{% include 'base/includes/alerts.html' %}
								<form class="mt-sm-4 text-start" method="post">
									{% csrf_token %}
									<!-- Email -->
									<div class="mb-3">
										<label class="form-label">Username</label>
										<input type="text" name="username" class="form-control">
									</div>

									<!-- Button -->
									<div class="d-grid"><button type="submit" class="btn btn-primary">Reset Password</button></div>
		
									<!-- Divider -->
									<div class="position-relative my-4">
										<hr>
										<p class="small position-absolute top-50 start-50 translate-middle bg-mode px-2">Or</p>
									</div>
		
									<!-- Google and facebook button -->
									<div class="vstack gap-3">
										<a href="{% url 'login' %}" class="btn btn-light mb-0"></i>Back to Login</a>
										<a href="{% url 'forgot_username' %}" class="btn btn-light mb-0"></i>Forgot Username</a>
									</div>
								</form>
								<!-- Form END -->
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}