{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid d-flex h-100 align-items-center justify-content-center py-4 py-sm-5">
    <div class="card card-body" style="max-width: 940px"><a class="position-absolute top-0 end-0 nav-link fs-sm py-1 px-2 mt-3 me-3" href="{% url 'homepage' %}">
        <i class="fi-arrow-long-left fs-base me-2"></i>Go back</a>
      <div class="row mx-0 align-items-center">
        <div class="col-md-6 border-end-md p-2 p-sm-5">
          <h2 class="h3 mb-4 mb-sm-5">Hey there!<br>Welcome back.</h2><img class="d-block mx-auto" src="/media/img/signin-modal/signin.svg" width="344" alt="Illustartion">
          <div class="mt-4 mt-sm-5">Don't have an account? <a href="{% url 'register' %}">Sign up here</a></div>
        </div>
        <div class="col-md-6 px-2 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5"><a class="btn btn-outline-info w-100 mb-3" href="{% url 'social:begin' 'google-oauth2' %}">
            <i class="fi-google fs-lg me-1"></i>Sign in with Google</a><a class="btn btn-outline-info w-100 mb-3" href="signin-light.html#">
                <i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook</a>
          <div class="d-flex align-items-center py-3 mb-3">
            <hr class="w-100">
            <div class="px-3">Or</div>
            <hr class="w-100">
          </div>
          {% include 'base/includes/alerts.html' %}
          <form class="needs-validation" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-4">
              <label class="form-label mb-2" for="signin-email">Username</label>
              <input class="form-control" type="text" id="signin-email" placeholder="Enter your username" name="username" required>
            </div>
            <div class="mb-4">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <label class="form-label mb-0" for="signin-password">Password</label>
              </div>
              <div class="password-toggle">
                <input class="form-control" type="password" id="signin-password" name="password" placeholder="Enter password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
              {% if request.GET.next %}
              <input type="hidden" name="next" value="{{request.GET.next}}" />
              {% endif %}
            <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}