{% extends "base/base.html" %}

{% block content %}
<section class="">
    <div class="container h-100 d-flex px-0 px-sm-4">
      <div class="row justify-content-center align-items-center m-auto">
        <div class="col-12">
          <div class="bg-mode shadow rounded-3 overflow-hidden">
            <div class="row g-0">
              <!-- Vector Image -->
              <div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
                <div class="p-3 p-lg-5">
                  <img src="/media/assets/images/element/signin.svg" alt="">
                </div>
                <!-- Divider -->
                <div class="vr opacity-1 d-none d-lg-block"></div>
              </div>
      
              <!-- Information -->
              <div class="col-lg-6 order-1">
                <div class="p-4 p-sm-7">
                  <!-- Title -->
                  <h1 class="mb-2 h3">Welcome back</h1>
                  <p class="mb-0">New here?<a href="{% url 'register' %}"> Create an account</a></p>
      
                  <!-- Form START -->
                  {% include 'base/includes/alerts.html' %}
                  <form class="mt-4 text-start" method="post" action="{% url "login" %}">
                    {% csrf_token %}
                    <!-- Email -->
                    <div class="mb-3">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control" placeholder="Enter your username" name="username" required>
                    </div>
                    <!-- Password -->
                    <div class="mb-3 position-relative">
                      <label class="form-label">Password</label>
                      <input class="form-control fakepassword" type="password" id="psw-input" name="password" placeholder="Enter password" required>
                      <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                        <i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
                      </span>
                    </div>
                    {% if request.GET.next %}
                      <input type="hidden" name="next" value="{{request.GET.next}}" />
                    {% endif %}
                    <!-- Remember me -->
                    <div class="mb-3 d-sm-flex justify-content-between">
                      <a href="{% url "forgot_password" %}">Forgot password?</a>
                    </div>
                    <!-- Button -->
                    <div><button type="submit" class="btn btn-primary w-100 mb-0">Login</button></div>
      
                    <!-- Divider -->
                    <div class="position-relative my-4">
                      <hr>
                      <p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">Or sign in with</p>
                    </div>
      
                    <!-- Google and facebook button -->
                    <div class="vstack gap-3">
                      <a href="sign-in.html#" class="btn btn-light mb-0"><i class="fab fa-fw fa-google text-google-icon me-2"></i>Sign in with Google</a>
                      <a href="sign-in.html#" class="btn btn-light mb-0"><i class="fab fa-fw fa-facebook-f text-facebook me-2"></i>Sign in with Facebook</a>
                    </div>
                  </form>
                  <!-- Form END -->
                </div>		
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}