{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid d-flex h-100 align-items-center justify-content-center py-4 py-sm-5">
    <div class="card card-body" style="max-width: 940px"><a class="position-absolute top-0 end-0 nav-link fs-sm py-1 px-2 mt-3 me-3" href="{% url 'homepage' %}">
        <i class="fi-arrow-long-left fs-base me-2"></i>Go back</a>
      <div class="row mx-0 align-items-center">
        <div class="col-md-6 border-end-md p-2 p-sm-5">
          <h2 class="h3 mb-4 mb-sm-5">Join Finder.<br>Get premium benefits:</h2>
          <ul class="list-unstyled mb-4 mb-sm-5">
            <li class="d-flex mb-2"><i class="fi-check-circle text-primary mt-1 me-2"></i><span>Can Manage Your Booking</span></li>
            <li class="d-flex mb-2"><i class="fi-check-circle text-primary mt-1 me-2"></i><span>Easily manage your wishlist</span></li>
            <li class="d-flex mb-0"><i class="fi-check-circle text-primary mt-1 me-2"></i><span>Leave reviews</span></li>
          </ul><img class="d-block mx-auto" src="/media/img/signin-modal/signup.svg" width="344" alt="Illustartion">
          <div class="mt-sm-4 pt-md-3">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>
        </div>
        <div class="col-md-6 px-2 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5"><a class="btn btn-outline-info w-100 mb-3" href="{% url 'social:begin' 'google-oauth2' %}">
            <i class="fi-google fs-lg me-1"></i>Sign in with Google</a><a class="btn btn-outline-info w-100 mb-3" href="#">
                <i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook</a>
          <div class="d-flex align-items-center py-3 mb-3">
            <hr class="w-100">
            <div class="px-3">Or</div>
            <hr class="w-100">
          </div>
          {% include 'base/includes/alerts.html' %}
          <form class="needs-validation" method="post" action="{% url "register" %}">
            {% csrf_token %}
            <div class="mb-4">
              <label class="form-label" for="signup-name">First Name</label>
              <input class="form-control" type="text" id="signup-name" name="first_name" placeholder="Enter your first name" required>
            </div>
            <div class="mb-4">
                <label class="form-label" for="signup-name">Last Name</label>
                <input class="form-control" type="text" id="signup-name" name="last_name" placeholder="Enter your last name" required>
              </div>
            <div class="mb-4">
              <label class="form-label" for="signup-email">Email address</label>
              <input class="form-control" type="email" id="signup-email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-4">
              <label class="form-label" for="signup-password">Password <span class='fs-sm text-muted'>min. 8 char</span></label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="signup-password" name="password" placeholder="Enter your password" minlength="8" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label" for="signup-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="signup-password-confirm" name="confirm_password" placeholder="Confirm your password" minlength="8" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary btn-lg w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}