{% extends "base/base.html" %}

{% block content %}
<section class="">
	<div class="container h-100 d-flex px-0 px-sm-4">
		<div class="row justify-content-center align-items-center m-auto">
			<div class="col-12">
				<div class="bg-mode shadow rounded-3 overflow-hidden">
					<div class="row g-0">
						<!-- Vector Image -->
						<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
								<img src="/media/assets/images/element/signin.svg" alt="">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block"></div>
						</div>
		
						<!-- Information -->
						<div class="col-lg-6 order-1">
							<div class="p-4 p-sm-6">
								<!-- Title -->
								<h1 class="mb-2 h3">Create new account</h1>
								<p class="mb-0">Already a member?<a href="{% url "login" %}"> Log in</a></p>
		
								<!-- Form START -->
                {% include 'base/includes/alerts.html' %}
								<form class="mt-4 text-start" method="post" action="{% url "register" %}">
                  {% csrf_token %}
                  <!-- First name --> 
									<div class="mb-3">
										<label class="form-label">First Name</label>
										<input type="text" class="form-control" name="first_name" placeholder="Enter your first name" required> 
									</div>
                  <!-- First name -->
									<div class="mb-3">
										<label class="form-label">Last Name</label>
										<input type="text" class="form-control" name="last_name" placeholder="Enter your last name" required>
									</div>
									<!-- Email -->
									<div class="mb-3">
										<label class="form-label">Enter email id</label>
										<input type="email" class="form-control" name="email" placeholder="Enter your email" required>
									</div>
									<!-- Password -->
									<div class="mb-3 position-relative">
										<label class="form-label">Enter password</label>
										<input class="form-control fakepassword" type="password" id="psw-input" name="password" placeholder="Enter your password" minlength="8" required>
										<span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
											<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
										</span>
									</div>
									<!-- Confirm Password -->
									<div class="mb-3">
										<label class="form-label">Confirm Password</label>
										<input type="password" class="form-control" name="confirm_password" placeholder="Confirm your password" minlength="8" required>
									</div>
									<!-- Button -->
									<div><button type="submit" class="btn btn-primary w-100 mb-0">Sign up</button></div>
								</form>
								<!-- Form END -->
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}