{% extends "base/base.html" %}

{% block content %}
<section class="pt-3">
	<div class="container">
		<div class="row">

			<!-- Sidebar START -->
			{% include "./profile_menu.html" %}
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9 ps-xl-5">

                <!-- Offcanvas menu button -->
                <div class="d-grid mb-0 d-lg-none w-100">
                    <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                        <i class="fas fa-sliders-h"></i> Menu
                    </button>
                </div>
            
                <div class="card border bg-transparent">
                    <!-- Card header -->
                    <div class="card-header bg-transparent border-bottom">
                        <h4 class="card-header-title">My Bookings</h4>
                    </div>
            
                    <!-- Card body START -->
                    <div class="card-body p-4">            
                        <h6 class="mb-3 fw-normal">Total Booking ({{request.user.profile.get_total_booking}})</h6>
                        {% for booking in request.user.profile.get_all_bookings %}
                        <div class="card border mb-4">
                            <!-- Card header -->
                            <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                                <!-- Icon and Title -->
                                <div class="d-flex align-items-center">
                                    <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i class="fa-solid fa-car"></i></div>	
                                    <!-- Title -->
                                    <div class="ms-2">
                                        <h6 class="card-title mb-0"><a href="{% url 'car_details' booking.car.slug %}">{{booking.car.brand}}, {{booking.car.year}}</a></h6>
                                        <ul class="nav nav-divider small">
                                            <li class="nav-item">Booking ID: {{booking.booking_id}}</li>
                                            <li class="nav-item">{{booking.payment_mode}}</li>
                                        </ul>
                                    </div>
                                </div>
            
                                <!-- Button -->
                                <div class="mt-2 mt-md-0">
                                    <a href="#" class="btn btn-warning-soft mb-0">View Invoice</a>
                                </div>
                            </div>
            
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-sm-6 col-md-3">
                                        <span>Pickup Date</span>
                                        <h6 class="mb-0">{{booking.pickup_date}}</h6>
                                    </div>
            
                                    <div class="col-sm-6 col-md-3">
                                        <span>Return Date</span>
                                        <h6 class="mb-0">{{booking.return_date}}</h6>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <span>Booked Date</span>
                                        <h6 class="mb-0">{{booking.created_at|date:"F d, Y"}}</h6>
                                    </div>
            
                                    <div class="col-md-3">
                                        <span>Total Price</span>
                                        <h6 class="mb-0">AED {{booking.total_amount}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Card body END -->
                </div>
            
            </div>
			<!-- Main content END -->

		</div>
	</div>
</section>
{% endblock content %}