{% extends "base/base.html" %}

{% block content %}
<div class="container pt-5 pb-lg-4 mb-sm-2" style="margin-top: 100px;">
    <!-- Breadcrumb-->
    <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
      </ol>
    </nav>
    <!-- Page content-->
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
        <!-- Account nav-->
        <div class="card card-body border-0 shadow-sm pb-1 me-lg-1">
          {% include './profile_menu.html' %}
        </div>
      </aside>
      <!-- Content-->
      <div class="col-lg-8 col-md-7 mb-5 shadow-sm rounded" style="padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px;">
        <h1 class="h2">Personal Info</h1>
        <form action="{% url 'update_profile' user.id %}" method="post">
            {% csrf_token %}
            <div class="border rounded-3 p-3 mb-4" id="personal-info">
            <!-- Name-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">First Name</label>
                    <div id="name-value">{{request.user.first_name}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" 
                    href="#first-name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="first-name-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" data-bs-binded-element="#name-value" name="first_name" data-bs-unset-value="Not specified" value="{{request.user.first_name}}">
                </div>
            </div>
            <!-- Last Name -->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Last Name</label>
                    <div id="name-value">{{request.user.last_name}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" 
                    href="#last-name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="last-name-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" data-bs-binded-element="#name-value" name="last_name" data-bs-unset-value="Not specified" value="{{request.user.last_name}}">
                </div>
            </div>
            <!-- Email-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Email</label>
                    <div id="email-value">{{request.user.email}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="real-estate-account-info.html#email-collapse" data-bs-toggle="collapse">
                    <i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="email-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="email" data-bs-binded-element="#email-value" data-bs-unset-value="Not specified" value="{{request.user.email}}" disabled="true">
                </div>
            </div>
            <!-- Phone number-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Phone number</label>
                    <div id="phone-value">{{request.user.profile.number}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#phone-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="phone-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" name="number" data-bs-binded-element="#phone-value" data-bs-unset-value="Not specified" value="{{request.user.profile.number}}">
                </div>
            </div>
            <!-- Gender-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Gender</label>
                    <div id="gender-value">{{request.user.profile.gender}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#gender-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="gender-collapse" data-bs-parent="#personal-info">
                    <select class="form-select mt-3" name="gender" data-bs-binded-element="#gender-value">
                        {% if request.user.profile.gender == 'Male' %}
                        <option value="Male" selected="true">Male</option>
                        <option value="Female">Female</option>
                        {% elif request.user.profile.gender == 'Female' %}
                        <option value="Male">Male</option>
                        <option value="Female" selected="true">Female</option>
                        {% else %}
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <!-- DOB -->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Date of Birth</label>
                    {% if request.user.profile.dob %}
                    <div id="dob-value">{{request.user.profile.dob|date:'d F Y'}}</div>
                    {% else %}
                    <div id="dob-value">Not Specified</div>
                    {% endif %}
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#dob-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="dob-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="date" name="dob" data-bs-binded-element="#dob-value" data-bs-unset-value="Not specified" value="{{request.user.profile.dob|date:'d F Y'}}">
                </div>
            </div>

            <!-- Country -->
            <div>
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Country</label>
                    <div id="address-value">{{request.user.profile.country}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#address-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="address-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" name="country" data-bs-binded-element="#address-value" data-bs-unset-value="Not specified" placeholder="Country" value="{{request.user.profile.country}}">
                </div>
            </div>
            
            </div>
            <div class="d-flex align-items-center justify-content-between border-top mt-4 pt-4 pb-1">
            <input type="submit" class="btn btn-primary px-3 px-sm-4" value="Update Profile">
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}