{% extends "base/base.html" %}

{% block content %}
<div class="container pt-5 pb-lg-4 mb-sm-2" style="margin-top: 100px;">
    <!-- Breadcrumb-->
    <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Personal Info</li>
      </ol>
    </nav>
    <!-- Page content-->
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
        <!-- Account nav-->
        <div class="card card-body border-0 shadow-sm pb-1 me-lg-1">
          {% include './profile_menu.html' %}
        </div>
      </aside>
      <!-- Content-->
      <div class="col-lg-8 col-md-7 mb-5 shadow-sm rounded" style="padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px;">
        <h1 class="h2">Personal Info</h1>
        <div class="d-lg-flex align-items-center justify-content-between mt-3 pt-3 border-top mb-3 pb-3 border-bottom">
            <div class="d-flex align-items-center mb-4 mb-lg-0">
                <div class="image-container">
                {% if request.user.profile.profile_image %}
                <img class="rounded-circle" src="{{request.user.profile.profile_image.url}}" width="90" alt="{{request.user.first_name}} {{request.user.last_name}}">
                <button class="eye-button rounded-circle" onclick="toggleVisibility()" data-bs-toggle="modal" data-bs-target="#showImageModal">👁</button>
                {% else %}
                <img class="rounded-circle" src="/media/images/profile/default_avatar/default_avatar.svg" width="90" alt="{{request.user.first_name}} {{request.user.last_name}}">
                <button class="eye-button rounded-circle" onclick="toggleVisibility()" data-bs-toggle="modal" data-bs-target="#showImageModal">👁</button>
                {% endif %}
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">Your Profile Image</h6>
                    <p class="mb-0">
                        PNG or JPG and should be 1:1 ratio.
                    </p>
                </div>
            </div>
            <div>
                {% if request.user.profile.profile_image %}
                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#uploadImageModal">Change Image</a>
                {% else %}
                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#uploadImageModal">Upload Image</a>
                {% endif %}
                <a href="{% url 'remove_image' user.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
        </div>

        <form action="{% url 'update_profile' user.id %}" method="post">
            {% csrf_token %}
            <div class="border rounded-3 p-3 mb-4" id="personal-info">
            <!-- Name-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">First Name</label>
                    <div id="name-value">{{request.user.first_name}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" 
                    href="#first-name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="first-name-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" data-bs-binded-element="#name-value" name="first_name" data-bs-unset-value="Not specified" value="{{request.user.first_name}}">
                </div>
            </div>
            <!-- Last Name -->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Last Name</label>
                    <div id="name-value">{{request.user.last_name}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" 
                    href="#last-name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="last-name-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" data-bs-binded-element="#name-value" name="last_name" data-bs-unset-value="Not specified" value="{{request.user.last_name}}">
                </div>
            </div>
            <!-- Email-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Email</label>
                    <div id="email-value">{{request.user.email}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="real-estate-account-info.html#email-collapse" data-bs-toggle="collapse">
                    <i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="email-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="email" data-bs-binded-element="#email-value" data-bs-unset-value="Not specified" value="{{request.user.email}}" disabled="true">
                </div>
            </div>
            <!-- Phone number-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Phone number</label>
                    <div id="phone-value">{{request.user.profile.number}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#phone-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="phone-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" name="number" data-bs-binded-element="#phone-value" data-bs-unset-value="Not specified" value="{{request.user.profile.number}}">
                </div>
            </div>
            <!-- Gender-->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Gender</label>
                    <div id="gender-value">{{request.user.profile.gender}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#gender-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="gender-collapse" data-bs-parent="#personal-info">
                    <select class="form-select mt-3" name="gender" data-bs-binded-element="#gender-value">
                        {% if request.user.profile.gender == 'Male' %}
                        <option value="Male" selected="true">Male</option>
                        <option value="Female">Female</option>
                        {% elif request.user.profile.gender == 'Female' %}
                        <option value="Male">Male</option>
                        <option value="Female" selected="true">Female</option>
                        {% else %}
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <!-- DOB -->
            <div class="border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Date of Birth</label>
                    {% if request.user.profile.dob %}
                    <div id="dob-value">{{request.user.profile.dob|date:'d F Y'}}</div>
                    {% else %}
                    <div id="dob-value">Not Specified</div>
                    {% endif %}
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#dob-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="dob-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="date" name="dob" data-bs-binded-element="#dob-value" data-bs-unset-value="Not specified" value="{% if request.user.profile.dob %}{{date_object}}{% endif %}">
                </div>
            </div>

            <!-- Country -->
            <div>
                <div class="d-flex align-items-center justify-content-between">
                <div class="pe-2">
                    <label class="form-label fw-bold">Country</label>
                    <div id="address-value">{{request.user.profile.country}}</div>
                </div>
                <div data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#address-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
                </div>
                <div class="collapse" id="address-collapse" data-bs-parent="#personal-info">
                <input class="form-control mt-3" type="text" name="country" data-bs-binded-element="#address-value" data-bs-unset-value="Not specified" placeholder="Country" value="{{request.user.profile.country}}">
                </div>
            </div>
            
            </div>
            <div class="d-flex align-items-center justify-content-between mt-1 pt-1 pb-1">
            <input type="submit" class="btn btn-primary px-3 px-sm-4" value="Update Profile">
            </div>
        </form>
      </div>
    </div>
</div>

<style>
    .image-preview-container {
        width: 60%;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 3rem;
        border-radius: 20px;
    }
    
    .image-preview-container img {
        width: 100%;
        display: none;
        margin-bottom: 30px;
    }
    .image-preview-container input {
        display: none;
    }
    
    .image-preview-container label {
        display: block;
        width: 100%;
        height: 45px;
        margin-left: 0;
        text-align: center;
        background: #FAA0A0;
        color: #000;
        font-size: 12px;
        text-transform: Uppercase;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-container {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .image-container img {
        transition: filter 0.3s ease;
    }

    .image-container:hover img {
        filter: blur(1px);
        background: rgba(0, 0, 0, 1);
    }

    .eye-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
        border: none;
        font-size: 36px;
        color: #fff;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelledby="uploadImageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{% if request.user.profile.profile_image %}Change Image{% else %}Upload Image{% endif %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'upload_image' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image-preview-container">
            <div class="preview">
                <img id="preview-selected-image" />
            </div>
            <label for="file-upload">Choose Image</label>
            <input type="file" name="profile_img" id="file-upload" accept="image/*" onchange="previewImage(event);" required />
        </div>
        <input type="submit" value="{% if request.user.profile.profile_image %}Change Image{% else %}Upload Image{% endif %}" class="btn btn-primary btn-sm col-12 mt-3">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showImageModal" tabindex="-1" aria-labelledby="showImageLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{% if request.user.profile.profile_image %}Your Profile Image{% else %}Default Profile Image{% endif %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if request.user.profile.profile_image %}
            <img class="" src="{{request.user.profile.profile_image.url}}" width="100%" alt="{{request.user.first_name}} {{request.user.last_name}}">
            {% else %}
            <img class="" src="/media/images/profile/default_avatar/default_avatar.svg" width="100%" alt="{{request.user.first_name}} {{request.user.last_name}}">
            {% endif %}
        </div>
      </div>
    </div>
  </div>

<script>
    const previewImage = (event) => {
        /**
         * Get the selected files.
         */
        const imageFiles = event.target.files;
        /**
         * Count the number of files selected.
         */
        const imageFilesLength = imageFiles.length;
        /**
         * If at least one image is selected, then proceed to display the preview.
         */
        if (imageFilesLength > 0) {
            /**
             * Get the image path.
             */
            const imageSrc = URL.createObjectURL(imageFiles[0]);
            /**
             * Select the image preview element.
             */
            const imagePreviewElement = document.querySelector("#preview-selected-image");
            /**
             * Assign the path to the image preview element.
             */
            imagePreviewElement.src = imageSrc;
            /**
             * Show the element by changing the display value to "block".
             */
            imagePreviewElement.style.display = "block";
        }
    };

    function toggleVisibility() {
        var img = document.querySelector('.image-container img');
    }

    document.querySelector('.image-container').addEventListener('mouseenter', function() {
        document.querySelector('.eye-button').style.opacity = 1;
    });

    document.querySelector('.image-container').addEventListener('mouseleave', function() {
        document.querySelector('.eye-button').style.opacity = 0;
    });
</script>
{% endblock %}