{% extends "base/base.html" %}

{% block content %}
<section class="pt-3">
	<div class="container">
		<div class="row">

			<!-- Sidebar START -->
			{% include "./profile_menu.html" %}
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9">

				<!-- Offcanvas menu button -->
				<div class="d-grid mb-0 d-lg-none w-100">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fas fa-sliders-h"></i> Menu
					</button>
				</div>

				<div class="vstack gap-4">
					<!-- Personal info START -->
					<div class="card border">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h4 class="card-header-title">Personal Information</h4>
						</div>

						<!-- Card body START -->
						<div class="card-body">
                            {% include 'base/includes/alerts.html' %}
							<!-- Form START -->
								<!-- Profile photo -->
								<div class="col-12 mb-3">
									<label class="form-label">Upload your profile photo<span class="text-danger">*</span></label>
									<div class="d-flex align-items-center">
										<label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
											<!-- Avatar place holder -->
											<span class="avatar avatar-xl">
                                                {% if request.user.profile.profile_image %}
												<img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" 
                                                src="{{request.user.profile.profile_image.url}}" alt="sandcity_{{request.user.username}}">
                                                {% else %}
                                                <img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" 
                                                src="/media/assets/images/favicon.png" alt="sandcity_{{request.user.username}}">
                                                {% endif %}
											</span>
										</label>
										<!-- Upload button -->
										{% if request.user.profile.profile_image %}
                                        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#uploadImageModal">Change Image</a>
                                        {% else %}
                                        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#uploadImageModal">Upload Image</a>
                                        {% endif %}
                                        <a href="{% url 'remove_image' user.id %}" class="btn btn-outline-danger btn-sm ms-2">Delete</a>
									</div>
								</div>

                            <form method="post" action="{% url 'update_profile' user.id %}" class="row g-3">
                                {% csrf_token %}
								<!-- Name -->
								<div class="col-md-6">
									<label class="form-label">First Name<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="first_name" value="{{request.user.first_name}}" placeholder="Enter your first name" required>
								</div>

                                <div class="col-md-6">
									<label class="form-label">Last Name<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="last_name" value="{{request.user.last_name}}" placeholder="Enter your last name" required>
								</div>

								<!-- Email -->
								<div class="col-md-6">
									<label class="form-label">Email address<span class="text-danger">*</span></label>
									<input type="email" class="form-control" readonly value="{{request.user.email}}" placeholder="Enter your email id">
								</div>

								<!-- Mobile -->
								<div class="col-md-6">
									<label class="form-label">Mobile number<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="number" value="{{request.user.profile.number}}" placeholder="Enter your mobile number">
								</div>

								<!-- Date of birth -->
								<div class="col-md-6">
									<label class="form-label">Date of Birth<span class="text-danger">*</span></label>
									<input type="date" class="form-control" name="dob" value="{% if request.user.profile.dob %}{{date_object}}{% endif %}" required>
								</div>

								<div class="col-md-6">
									<label class="form-label">Gender<span class="text-danger">*</span></label>
									<select class="form-select js-choice" name="gender">
                                        {% if request.user.profile.gender == 'Male' %}
                                        <option value="Male" selected="true">Male</option>
                                        <option value="Female">Female</option>
                                        {% elif request.user.profile.gender == 'Female' %}
                                        <option value="Male">Male</option>
                                        <option value="Female" selected="true">Female</option>
                                        {% else %}
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        {% endif %}
                                    </select>
								</div>

                                <!-- Nationality -->
								<div class="col-md-12">
									<label class="form-label">Nationality<span class="text-danger">*</span></label>
									<select class="form-select js-choice" name="country">
                                        {% for cn in country %}
                                        <option value="{{cn.name}}" {% if cn.name in request.user.profile.country %}selected{% endif %}>{{cn.name}}</option>
                                        {% endfor %}
                                    </select>
								</div>

								<!-- Button -->
								<div class="col-12 text-end">
									<button type="submit" class="btn btn-sm btn-success mb-0">Save Changes</button>
								</div>
							</form>
							<!-- Form END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Personal info END -->
				</div>
			</div>
			<!-- Main content END -->

		</div>
	</div>
</section>

<style>
    .image-preview-container {
        width: 60%;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 3rem;
        border-radius: 20px;
    }
    
    .image-preview-container img {
        width: 100%;
        display: none;
        margin-bottom: 30px;
    }
    .image-preview-container input {
        display: none;
    }
    
    .image-preview-container label {
        display: block;
        width: 100%;
        height: 45px;
        margin-left: 0;
        text-align: center;
        background: #FAA0A0;
        color: #000;
        font-size: 12px;
        text-transform: Uppercase;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-container {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .image-container img {
        transition: filter 0.3s ease;
    }

    .image-container:hover img {
        filter: blur(1px);
        background: rgba(0, 0, 0, 1);
    }
</style>
<!-- Modal -->
<div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelledby="uploadImageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{% if request.user.profile.profile_image %}Change Image{% else %}Upload Image{% endif %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'upload_image' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image-preview-container">
            <div class="preview">
                <img id="preview-selected-image" />
            </div>
            <label for="file-upload">Choose Image</label>
            <input type="file" name="profile_img" id="file-upload" accept="image/*" onchange="previewImage(event);" required />
        </div>
        <input type="submit" value="{% if request.user.profile.profile_image %}Change Image{% else %}Upload Image{% endif %}" class="btn btn-orange btn-sm col-12 mt-3">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    const previewImage = (event) => {
        /**
         * Get the selected files.
         */
        const imageFiles = event.target.files;
        /**
         * Count the number of files selected.
         */
        const imageFilesLength = imageFiles.length;
        /**
         * If at least one image is selected, then proceed to display the preview.
         */
        if (imageFilesLength > 0) {
            /**
             * Get the image path.
             */
            const imageSrc = URL.createObjectURL(imageFiles[0]);
            /**
             * Select the image preview element.
             */
            const imagePreviewElement = document.querySelector("#preview-selected-image");
            /**
             * Assign the path to the image preview element.
             */
            imagePreviewElement.src = imageSrc;
            /**
             * Show the element by changing the display value to "block".
             */
            imagePreviewElement.style.display = "block";
        }
    };
</script>
{% endblock %}