{% extends 'admin/base/base.html' %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">CMS Pages</a></li>
                <li class="breadcrumb-item" aria-current="page">All Blogs</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">All Blogs</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <div class="row">
            <div class="card">
                <div class="card-body p-3">
                <div class="d-sm-flex align-items-center">
                    <div class="me-auto my-1">
                        {% include 'base/includes/alerts.html' %}
                    </div>
                    <div class="ms-auto my-1">
                        <a href="{% url 'admin_add_blog' %}" class="btn btn-dark">Add New Blog</a>
                    </div>
                </div>
                </div>
            </div>
            {% for blog in blogs %}
                <div class="col-sm-4 col-xl-4">
                    <div class="card product-card">
                      <div class="card-img-top">
                          <img src="{{blog.blog_image.url}}" alt="sandcity_blog_{{blog.title}}" class="img-prod img-fluid">
                          <div class="btn-prod-cart card-body position-absolute end-0 top-0" data-bs-toggle="tooltip" title="Delete {{blog.title}}">
                                <a href="{% url 'admin_delete_blog' blog.slug %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        <div class="btn-prod-cart card-body position-absolute end-0 bottom-0" data-bs-toggle="tooltip" title="Update {{blog.title}}">
                            <a class="btn btn-dark" href="{% url 'admin_update_blog' blog.id %}">
                                <svg class="pc-icon">
                                <use xlink:href="#custom-password-check"></use>
                                </svg>
                            </a>
                        </div>
                      </div>
                      <div class="card-body">
                        <p class="prod-content mb-0 text-muted text-truncate">{{blog.body|slice:":150"|safe}}...</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                          <h4 class="mb-0 text-truncate"><b>{{blog.title}}</b></h4>
                        </div>
                        <div class="d-sm-flex align-items-center">
                            <div class="me-auto text-muted mt-3"><b>Created on: </b>{{blog.created_at|date:"d M' Y"}}</div>
                            <div class="ms-auto mt-3"><span class="p-2 {% if blog.is_published %}bg-success{% else %}bg-warning{% endif %} bg-opacity-25 rounded-3">{% if blog.is_published %}Published{% else %}Draft{% endif %}</span></div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
      </div>
    </div>
</div>
{% endblock %}