{% extends 'admin/base/base.html' %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">CRM Application</a></li>
                <li class="breadcrumb-item"><a href="{% url "admin_all_cars" %}">Cars List</a></li>
                <li class="breadcrumb-item" aria-current="page">{{car.brand}}, {{car.year}}</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">{{car.brand}}, {{car.year}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="sticky-md-top product-sticky">
                    <div id="carouselExampleCaptions" class="carousel slide ecomm-prod-slider" data-bs-ride="carousel">
                      <div class="carousel-inner bg-light rounded position-relative">

                        {% for image in car.carimages_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                          <img src="{{image.car_images.url}}" class="d-block w-100" alt="Product images" />
                        </div>
                        {% endfor %}
                      </div>
                      <ol class="carousel-indicators position-relative product-carousel-indicators my-sm-3 mx-0">
                        {% for image in car.carimages_set.all %}
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter0}}" class="w-25 h-auto {% if forloop.first %}active{% endif %}">
                          <img src="{{image.car_images.url}}" class="d-block wid-100 rounded" alt="Product images" />
                        </li>
                        {% endfor %}
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    {% if car.in_stock %}
                        <span class="badge bg-success f-14">In Stock</span>
                    {% else %}
                        <span class="badge bg-danger f-14">Out of Stock</span>
                    {% endif %}
                  <h5 class="my-3">{{car.brand}}, {{car.year}}</h5>
                  {% if average_review.rating == 5.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating > 4.0 and average_review.rating < 5.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating == 4.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating > 3.0 and average_review.rating < 4.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating == 3.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating > 2.0 and average_review.rating < 3.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating == 2.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating > 1.0 and average_review.rating < 2.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating == 1.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% elif average_review.rating > 0 and average_review.rating < 1.0 %}
                  <div class="star f-18 mb-3">
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <i class="far fa-star text-muted"></i>
                    <span class="text-sm text-muted">{{average_review.rating}}</span>
                  </div>
                  {% else %}
                  <span class="text-sm text-muted">(No review)</span>
                  {% endif %}
                  <h5 class="mt-4 mb-3 f-w-500">About this car</h5>
                  <p class="text-justify mb-3">{{car.desc|safe}}</p>
                  <ul>
                    <li class="mb-2"><b>Body Type:</b> {{car.body_type}}</li>
                    <li class="mb-2"><b>Engine Type:</b> {{car.engine}}</li>
                    <li class="mb-2"><b>Fuel Type:</b> {{car.fuel_type}}</li>
                    <li class="mb-2"><b>Exterior Color:</b> {{car.exterior_color}}</li>
                  </ul>
                  <div class="form-group row align-items-center mt-3">
                    <label class="col-form-label col-lg-3 col-sm-12">
                      <span class="d-block"><b>Car Number:</b></span></label>
                    <div class="col-lg-9 col-md-12 col-sm-12">
                      <div class="row g-2">
                        <div class="col-auto">
                          <label class="p-2 bg-warning bg-opacity-25">{{car.car_number}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row align-items-center mt-3">
                    <label class="col-form-label col-lg-3 col-sm-12">
                      <span class="d-block"><b>Total Amount:</b></span></label>
                    <div class="col-lg-9 col-md-12 col-sm-12">
                      <div class="row g-2">
                        <div class="col-auto">
                          <label class="p-2 bg-danger bg-opacity-25" style="border: 1px dashed #000;"><b class="f-16">AED {{car.discounted_price}}</b>
                            <span class="mx-1 f-16 text-muted f-w-400 text-decoration-line-through">AED {{car.actual_price}}</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                    <h4 class="mt-5 mb-3">Features</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                {% for feature in car.carfeatures_set.all|slice:":7" %}
                                <li class="mb-2">{{feature.features}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                {% for feature in car.carfeatures_set.all|slice:"7:" %}
                                <li class="mb-2">{{feature.features}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
    </div>
</div>
{% endblock %}