
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | SandCity Car Rental</title>
    <!-- [Meta] -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="SandCity Car Rental">

    <!-- [Favicon] icon -->
    <link rel="icon" href="/media/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/media/admins/fonts/inter/inter.css" id="main-font-link" />
    <link rel="stylesheet" href="/media/admins/fonts/tabler-icons.min.css" >
    <link rel="stylesheet" href="/media/admins/fonts/feather.css" >
    <link rel="stylesheet" href="/media/admins/fonts/fontawesome.css" >
    <link rel="stylesheet" href="/media/admins/fonts/material.css" >
    <link rel="stylesheet" href="/media/admins/css/style.css" id="main-style-link" >
    <link rel="stylesheet" href="/media/admins/css/style-preset.css" >

</head>
<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>

  {% include './includes/sidebar.html' %}

  {% include './includes/header.html' %}

  {% block content %}{% endblock %}

  {% include './includes/footer.html' %} 
  <!-- [Page Specific JS] start -->
  <script src="/media/admins/js/plugins/apexcharts.min.js"></script>
  <script src="/media/admins/js/pages/dashboard-default.js"></script>
  <!-- [Page Specific JS] end -->
  <!-- Required Js -->
  <script src="/media/admins/js/plugins/popper.min.js"></script>
  <script src="/media/admins/js/plugins/simplebar.min.js"></script>
  <script src="/media/admins/js/plugins/bootstrap.min.js"></script>
  <script src="/media/admins/js/fonts/custom-font.js"></script>
  <script src="/media/admins/js/pcoded.js"></script>
  <script src="/media/admins/js/plugins/feather.min.js"></script>

  <script src="/media/admins/js/plugins/index.global.min.js"></script>
  <!-- Sweet Alert -->
  <script src="/media/admins/js/plugins/sweetalert2.all.min.js"></script>
  <script src="/media/admins/js/pages/calendar.js"></script>
  <script src="/media/admins/js/plugins/dropzone-amd-module.min.js"></script>
  <script src="/media/admins/js/plugins/simple-datatables.js"></script>
  <script>
    const dataTable = new simpleDatatables.DataTable('#pc-dt-simple', {
      sortable: false,
      perPage: 5
    });
  </script>
</body>
</html>