{% extends "base/base.html" %}

{% block content %}
<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row g-4 align-items-center">				
			<div class="col-lg-7">
				<!-- Title -->
				<h1 class="mb-4 display-6">Your Guide to Safe and Smooth Driving in <span class="text-orange">Dubai and ABU DHABI</span></h1>
				<!-- Info -->
				<h2 class="mb-3 h4">Welcome to Sandcity Car Rental LLC!</h2>
			</div>
			<!-- Image -->
			<div class="col-lg-5 text-center">
				{% if custompage.page_image %}
				<img src="{{custompage.page_image.url}}" alt="sandcity_{{custompage.title}}">
				{% endif %}
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row g-4">
			<div class="col-12">
				{{custompage.body|safe}}
			</div>
		</div>
	</div>
</section>
{% endblock content %}