{% extends "base/base.html" %}

{% block content %}
<section class="pt-4 pt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<!-- Breadcrumb -->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-dots justify-content-center">
						<li class="breadcrumb-item"><a href="/"><i class="bi bi-house me-1"></i> Home</a></li>
						<li class="breadcrumb-item active">Faqs</li>
					</ol>
				</nav>
				<!-- Title -->
				<h6 class="text-primary">FAQ's</h6>
				<h1>Frequently Asked Questions</h1>
				<!-- Info -->
				<p>have questions? We're here to help you</p>
				<!-- Search -->
				<form class="col-lg-8 position-relative mx-auto">
					<input class="form-control form-control-lg pe-5" type="search" placeholder="Type search words" aria-label="Search">
					<button class="text-primary-hover text-reset border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y pe-3 py-0" type="submit"><i class="fas fa-search fs-6"></i></button>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="pt-0 pt-lg-2">
	<div class="container">
		<!-- FAQ START -->
		<div class="accordion accordion-icon accordion-bg-light" id="accordionFaq">
			<!-- Item -->
			{% for faq in faqs %}
			<div class="accordion-item mb-3">
				<h6 class="accordion-header font-base" id="heading-{{faq.id}}">
					<button class="accordion-button fw-bold rounded collapsed pe-5" type="button" 
					data-bs-toggle="collapse" data-bs-target="#collapse-{{faq.id}}" aria-expanded="true" aria-controls="collapse-{{faq.id}}">
						{{faq.question}}
					</button>
				</h6>
				<!-- Body -->
				<div id="collapse-{{faq.id}}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}" aria-labelledby="heading-{{faq.id}}" data-bs-parent="#accordionFaq">
					<div class="accordion-body mt-3 pb-0">
						{{faq.answer|safe}}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- FAQ END -->
	</div>
</section>
{% endblock content %}