{% extends "base/base.html" %}

{% block content %}
<style>
	@media print {
		body * {
			visibility: hidden;
		}
		.print-area, .print-area * {
			visibility: visible;
		}
		.print-area {
			position: absolute;
			left: 0;
			top: 0;
		}
		.print-area button {
			display: none;
		}
	}
</style>
<section class="pt-3 print-area" id="booking-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-xl-8 mx-auto">

				<div class="card shadow">
					<!-- Image -->
                    {% for image in cart_obj.car.carimages_set.all|slice:":1" %}
					<img src="{{image.car_images.url}}" class="rounded-top" alt="{{cart_obj.car.brand}}{{image.car_images_id}}">
                    {% endfor %}

					<!-- Card body -->
					<div class="card-body text-center p-4">
						<!-- Title -->
						<h1 class="card-title fs-3">🎊 Congratulations! 🎊</h1>
						<p class="lead mb-3">Your Rental Car has been booked</p>

						<!-- Second title -->
						<h5 class="text-orange mb-4">{{cart_obj.car.brand}}, {{cart_obj.car.year}}</h5>

						<!-- List -->
						<div class="row justify-content-between text-start mb-4">
							<div class="col-lg-5">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-key fa-fw me-2"></i>Rental ID:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.booking_id}}</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-person fa-fw me-2"></i>Rented by:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.user.first_name}} {{cart_obj.user.last_name}}</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-wallet2 fa-fw me-2"></i>Mode:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.payment_mode}}</span>
									</li>
								</ul>
							</div>

							<div class="col-lg-5">
								<ul class="list-group list-group-borderless">
                                    <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                        <span class="mb-0"><i class="bi bi-cash fa-fw me-2"></i>Total Price:</span>
                                        <span class="h6 fw-normal mb-0">AED {{cart_obj.total_amount}}</span>
                                    </li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>Pickup Date:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.pickup_date|date:"d F, Y"}}</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>Return Date:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.return_date|date:"d F, Y"}}</span>
									</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="d-sm-flex justify-content-sm-end d-grid">
							<button type="button" onclick="window.print()" class="btn btn-primary mb-0"><i class="bi bi-printer me-2"></i>Print this</button>
							<!-- <button onclick="downloadPDF()" class="btn btn-primary mb-0"><i class="bi bi-printer me-2"></i>Download PDF</button> -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<script>
	function downloadPDF() {
		const { jsPDF } = window.jspdf;
		const pdf = new jsPDF('l', 'mm', [1200, 1080]);

		// Capture the specific area you want to convert to PDF
		const content = document.getElementById('booking-content');
	
		// const doc = new jsPDF({
		// 	unit: 'px',
		// 	format: this.pdfOptions.value.pageFormat === 'A4' ? [595, 842] : [842, 1191]
		// });
	
		// Add HTML content to the PDF
		pdf.html(content, {
			callback: function (pdf) {
				// Trigger the download of the PDF
				pdf.save('sandcity_{{cart_obj.car.brand}}_{{cart_obj.user.username}}.pdf');
			}
		});
	}
</script>
{% endblock content %}