{% extends "base/base.html" %}

{% block content %}
<section class="pt-3" id="invoice">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-xl-8 mx-auto">

				<div class="card shadow">
					<!-- Image -->
                    {% for image in cart_obj.car.carimages_set.all|slice:":1" %}
					<img src="{{image.car_images.url}}" class="rounded-top" alt="{{cart_obj.car.brand}}{{image.car_images_id}}">
                    {% endfor %}

					<!-- Card body -->
					<div class="card-body text-center p-4">
						<!-- Title -->
						<h1 class="card-title fs-3">🎊 Congratulations! 🎊</h1>
						<p class="lead mb-3">Your Rental Car has been booked</p>

						<!-- Second title -->
						<h5 class="text-orange mb-4">{{cart_obj.car.brand}}, {{cart_obj.car.year}}</h5>

						<!-- List -->
						<div class="row justify-content-between text-start mb-4">
							<div class="col-lg-5">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-key fa-fw me-2"></i>Rental ID:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.booking_id}}</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-person fa-fw me-2"></i>Rented by:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.user.first_name}} {{cart_obj.user.last_name}}</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-wallet2 fa-fw me-2"></i>Mode:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.payment_mode}}</span>
									</li>
								</ul>
							</div>

							<div class="col-lg-5">
								<ul class="list-group list-group-borderless">
                                    <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                        <span class="mb-0"><i class="bi bi-cash fa-fw me-2"></i>Total Price:</span>
                                        <span class="h6 fw-normal mb-0">AED {{cart_obj.total_price}}</span>
                                    </li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>Pickup Date:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.pickup_date|date:"d F, Y"}}</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>Return Date:</span>
										<span class="h6 fw-normal mb-0">{{cart_obj.return_date|date:"d F, Y"}}</span>
									</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="d-sm-flex justify-content-sm-end d-grid">
							<!-- Share button with dropdown -->
							<div class="dropdown me-sm-2 mb-2 mb-sm-0">
								<a href="booking-confirm.html#" class="btn btn-light mb-0 w-100" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-share me-2"></i>Share
								</a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
									<li><a class="dropdown-item" href="booking-confirm.html#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
									<li><a class="dropdown-item" href="booking-confirm.html#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
									<li><a class="dropdown-item" href="booking-confirm.html#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
									<li><a class="dropdown-item" href="booking-confirm.html#"><i class="fas fa-copy me-2"></i>Copy link</a></li>
								</ul>
							</div>
							<!-- Download button -->
							<!-- <a href="{% url "generate_pdf" %}" class="btn btn-primary mb-0"><i class="bi bi-file-pdf me-2"></i>Download PDF</a> -->
							<button type="button" class="btn btn-primary mb-0" id="download-button"><i class="bi bi-file-pdf me-2"></i>Download</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<script>
	const button = document.getElementById('download-button');
	function generatePDF() {
		const element = document.getElementById('invoice');
		var opt = {
			margin:			1,
			filename:		'Sandcity_{{cart_obj.user.username}}_{{cart_obj.car.brand}}.pdf',
			image:			{ quality: 0.75 },
			html2canvas:	{ scale: 2 },
			jsPDF:			{ unit: 'in', format: 'letter', orientation: 'portrait' }
		};
		html2pdf().set(opt).from(element).save();
	}
	button.addEventListener('click', generatePDF);
</script>
{% endblock content %}