{% extends "base/base.html" %}

{% block content %}
<section class="pt-4 pt-lg-5">
	<div class="container">
		<!-- Title -->
		<div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-dots justify-content-center">
                        <li class="breadcrumb-item"><a href="/"><i class="bi bi-house me-1"></i>Home</a></li>
                        <li class="breadcrumb-item active">Terms and Conditions</li>
                    </ol>
                </nav>
            </div>
			<div class="col-12 text-center mb-4">
				<h6>AGREEMENT</h6>
				<h1 class="fs-2 mb-0">Terms and Conditions</h1>
			</div>
		</div>

		<!-- Content START -->
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="vstack gap-3">

					<!-- Card item START -->
					<div class="card bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pb-0">
							<ul class="nav nav-tabs nav-bottom-line nav-responsive gap-2 gap-sm-4 mb-0 border-0" role="tablist">
								<li class="nav-item ps-3 ps-sm-0" role="presentation"> 
									<a class="nav-link active" data-bs-toggle="tab" href="terms-of-service.html#tab-1" aria-selected="true" role="tab">
                                        General Guidelines and Information</a> 
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" data-bs-toggle="tab" href="terms-of-service.html#tab-2" aria-selected="false" tabindex="-1" role="tab">
                                        Payments & Other Charges</a> 
									</li>
								<li class="nav-item" role="presentation"> 
									<a class="nav-link" data-bs-toggle="tab" href="terms-of-service.html#tab-3" aria-selected="false" tabindex="-1" role="tab">
                                        Insurance</a> 
								</li>
								<li class="nav-item" role="presentation"> 
									<a class="nav-link" data-bs-toggle="tab" href="terms-of-service.html#tab-4" aria-selected="false" tabindex="-1" role="tab">
                                        Legal Issues</a> 
								</li>
							</ul>
						</div>

						<!-- Card body -->
						<div class="card-body px-0 pt-4">
							<div class="tab-content" id="nav-tabContent">

								<!-- Tab content item START -->
								<div class="tab-pane fade show active" id="tab-1" role="tabpanel">
									
									<h5>Responsibilities</h5>

                                    <ul>
										<li>
                                            The hirer accepts that the vehicle of choice has been delivered to them in a good working condition. The hirer also understands and acknowledges that the vehicle is to be returned to Sand City Car Rental in the same condition once the period of rent is over (including all accessories).
                                        </li>
										<li>
                                            Sand City Car Rental reserves the right to recall a vehicle at any time – if the hirer has violated any of the company’s terms and conditions.
                                        </li>
										<li>
                                            Sand City Car Rental shall not be held accountable for any loss of goods.
                                        </li>
                                        <li>
                                            Sand City Car Rental reserves the right to make modifications to its terms and conditions without prior notice to any parties Geographical Limits.
                                        </li>
                                        <li>
                                            Vehicles taken on rent from Sand City Car Rental may only be driven within the geographical boundaries of the United Arab Emirates.
                                        </li>
									</ul>

                                    <h5>Geographical Limits</h5>

									<p>
                                        Vehicles taken on rent from Sand City Car Rental may only be driven within the geographical boundaries of the United Arab Emirates.
                                    </p>

                                    <h5>Mileage Allowance</h5>

									<p>
                                        <u style="font-style: italic;">Daily/ Weekly Rentals</u> <br />Daily mileage allowance is 200KM. Anything after shall be charged as AED 0.50/KM.
                                    </p>

                                    <p>
                                        <u style="font-style: italic;">Monthly Rentals</u> Monthly mileage allowance is 4500KM. Anything after shall be charged as AED 0.50/KM.
                                    </p>

                                    <h5>Fuel Policy</h5>

									<p>
                                        The vehicle is to be returned after the rental period with the same fuel level as when it was hired. Fuel charges may apply if the fuel level is significantly lower. 
                                    </p>

                                    <h5>Damage</h5>

                                    <ul>
										<li>
                                            It is the hirer’s duty to ensure tires are kept properly inflated at all times.
                                        </li>
										<li>
                                            It is the hirer’s duty to ensure the vehicle and its instruments are not damaged or tampered with.
                                        </li>
										<li>
                                            It is the hirer’s duty to ensure a good standard of cleanliness is kept within the vehicle. 
                                        </li>
                                        <li>
                                            The hirer will be held accountable for any and all repair costs incurred during their rental period. 
                                        </li>
                                        <li>
                                            The hirer is not allowed to use a third-party repair service – this may result in a penalty for the hirer. 
                                        </li>
                                        <li>
                                            In the case of any damage or accident – the hirer is to call the Police (999) and Sand City Car Rental (+971564032425/ 8006254). 
                                        </li>
                                        <li>
                                            The hirer must obtain a police report for any damage caused during their rental period. 
                                        </li>
									</ul>

                                    <h5>Rental Period & Return Policy</h5>
                                    <ul>
                                        <li>Rental charges are on a 24-hour basis</li>
                                        <li>A grace period of 2 hours is accepted on return date • Any delay more than 2 hours will result in excess charges of a complete day.</li>
                                        <li>Latest check-in time: 1800/ 6.00PM • No check in on Friday’s and Public Holidays.</li>
                                        <li>For pick-up service on return date (in Dubai), the hirer must inform Sand City Car Rental at least 4 hours prior to the pick-up time.</li>
                                        <li>For pick-up service on return date (in all other Emirates), the hirer must inform Sand City Car Rental at least 24 hours prior to pick-up time.</li>
                                    </ul>
									
								</div>
								<!-- Tab content item END -->
			
								<!-- Tab content item START -->
								<div class="tab-pane fade" id="tab-2" role="tabpanel">
									<h5>Security Deposit</h5>
                                    <ul>
                                        <li>Security deposit of AED 1500 will be kept by Sand City Car Rental prior to hirer receiving the vehicle.</li>
                                        <li>Security deposit rates may vary depending on the category of vehicle chosen for rent.</li>
                                        <li>Deposit will be held for 30 calendar days after check-in date to accommodate for fines or Salik charges incurred by the hirer.</li>
                                    </ul>
                                    <h5>Salik</h5>
                                    <ul>
                                        <li>AED 5 per Salik crossing will be charged.</li>
                                        <li>Rates of Salik crossing are subject to change without prior warning.</li>
                                        <li>5% tax rates will be applicable on Sand City Car Rental’s service charge.</li>
                                    </ul>
                                    <h5>Fines</h5>
                                    <ul>
                                        <li>All fines incurred during the rental period will be the responsibility of the hirer.</li>
                                        <li>Hirer will be charged an AED 20 acknowledgment fee plus 10% service charge.</li>
                                        <li>Fines of less than AED 200 will be charged a minimum of AED 20 service charge.</li>
                                        <li>5% VAT charges will be applicable to the service charge.</li>
                                    </ul>
                                    <h5>Service/Maintaince</h5>
                                    <ul>
                                        <li>
                                            All rental fees include periodical servicing fees • First servicing fee covered is at 1000KM.
                                        </li>
                                        <li>
                                            After the first servicing, servicing will be required every 10,000KM.
                                        </li>
                                        <li>
                                            The hirer must notify Sand City Car Rental at least 2 days before the next servicing.
                                        </li>
                                        <li>In the case of vehicle breakdown, Sand City Car Rental will provide a replacement car as soon as possible.</li>
                                        <li>Vehicles that were not serviced at the allocated times and have experienced damage will be the responsibility of the hirer. The hirer will be charged with all repairing costs. The rental period will be extended to cover the time taken to repair the damages.</li>
                                        <li>Hirer shall not allow any third party to repair the rented vehicle without written consent from Sand City Car Rental.</li>
                                        <li>The hirer is liable to repair any and all tire punctures.</li>
                                        <li>Damages to the tires due to puncture will be inspected upon by the inspection team and the hirer may be charged.</li>
                                        <li>All vehicles should be serviced as per the service tag found on the windscreen of the car.</li>
                                        <li>
                                            The hirer is to inform Sand City Car Rental of any mechanical damage or failure – the hirer will be responsible for any damage caused due to late reporting.
                                        </li>
                                        <li>The rental office will communicate the method of which to go about servicing the vehicle – this is also applicable to small issues such as a flat tire. </li>
                                        <li>The hirer will be liable for full costs of repair if the vehicle was damaged due to being operated with a flat tire • Service or break-down related issues can be dealt with by calling +971564032425</li>
                                    </ul>
                                    <h5>Additional Driver</h5>
                                    <p>Hirer will be charged AED 100 for each additional driver.</p>
								</div>
								<!-- Tab content item END -->
                                
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    <p>Any vehicle rented from Speedy Drive is only insured for driving on paved roads within the UAE.</p>
                                    <p>If hirer has not purchased a super CDW and the vehicle is in total loss, the hirer is liable to pay an additional charge of 20% of the purchase price of the vehicle if it is less than 12 months old OR 15% of the purchase price of the vehicle if it is more than 12 months old.</p>
                                    <p>In case of any damage to the vehicle, a police report must be obtained by the hirer otherwise the hirer will be held accountable for all damage repair costs.</p>
                                    <p>Windshields, Tires, Wheels, Tools and Wheel cap damage is not included in the insurance.</p>
                                </div>

                                <div class="tab-pane fade" id="tab-4" role="tabpanel">
                                    <h5>Age</h5>
                                    <p>All hirers must be, at a minimum, 22 years of age.</p>
                                    <p>80% insurance is covered for hirers between the ages 22 and 25.</p>

                                    <h5>Impounding</h5>
                                    <p>The hirer will be liable to pay Sand City Car Rental the impounding charges plus loss of rental charges in the case of the vehicle being impounded by authorities Parking.</p>
                                    <p>The hirer is to make sure that the vehicle rented is always parked in a safe, secure location and that all doors are kept locked.</p>
                                    <p>Hirer will be responsible for any damage caused to the vehicle • Hirer will be responsible for the loss of any keys.</p>
                                    <p>The minimum charge for a lost key will be AED 1500 • Charges for lost keys may vary depending on the category of vehicle that is rented.</p>
                                    <p>Any parking fines incurred by the hirer will be charged to the hirer plus will be subject to an administration fee.</p>
                                </div>
                                
							</div>
						</div>
					</div>
					<!-- Card item END -->

				</div>
			</div>
		</div>
		<!-- Content END -->

	</div>
</section>
{% endblock content %}