{% extends 'admin/base/base.html' %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">CRM Applications</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin_customers' %}">Users</a></li>
                <li class="breadcrumb-item" aria-current="page">Add New User</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">New User</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
            {% include 'base/includes/alerts.html' %}
            <form action="{% url 'admin_add_user' %}" method="post">
            {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group" name="body">
                        {{user_form.as_p}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-end btn-page mb-0 mt-4">
                        <button type="submit" class="btn btn-warning">Next</button>
                    </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}