{% extends 'admin/base/base.html' %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">CRM Application</a></li>
                <li class="breadcrumb-item" aria-current="page">Add New Cars</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">Add Cars</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Car Category*</label>
                        <select class="form-select" required>
                            <option value="">Select One Category</option>
                            {% for type in types %}
                            <option value="{{type.car_types}}">{{type.car_types}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Brand Name*</label>
                        <input type="text" class="form-control" placeholder="Ex. Mercedes GLE 350 AMG" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Number*</label>
                        <input type="text" class="form-control" placeholder="Ex. Y97710" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Slug*</label>
                        <input type="text" class="form-control" placeholder="Ex. mercedes-gle-350-amg" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Year*</label>
                        <input type="text" class="form-control" placeholder="Ex. 2019" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Descriptions*</label>
                        <textarea name="desc" class="form-control" rows="3" placeholder="Ex. You can rent Mercedes GLE 350 AMG (Black), 2019 in Dubai, UAE for the next price AED 600 per day or AED 12,000 per month..." required></textarea>
                    </div>
                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Car Body Type*</label>
                        <input type="text" class="form-control" placeholder="Ex. SUV" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Engine Type*</label>
                        <input type="text" class="form-control" placeholder="Ex. Diesel Turbo Fuel Injection" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Fuel Type*</label>
                        <input type="text" class="form-control" placeholder="Ex. Diesel/Petrol" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Car Exterior Color*</label>
                        <input type="text" class="form-control" placeholder="Ex. Carbon Black Metallic" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Rental Original Price*</label>
                        <input type="text" class="form-control" placeholder="Ex. 750" required>
                        <small class="text-muted">Note:* Don't type AED or any word, just type numeric price only</small>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Rental Discounted Price*</label>
                        <input type="text" class="form-control" placeholder="Ex. 600" required>
                        <small class="text-muted">Note:* Don't type AED or any word, just type numeric price only</small>
                    </div>
                </div>
                <div class="col-md-6">
                    
                </div>
                <div class="text-end btn-page mb-0 mt-4">
                    <button type="reset" class="btn btn-outline-dark">Reset</button>
                    <button type="submit" class="btn btn-warning">Add new Product</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}