{% extends 'admin/base/base.html' %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">CRM Application</a></li>
                <li class="breadcrumb-item" aria-current="page">Booking Orders</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="mb-0">Booking Orders</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->

      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card table-card">
            <div class="card-body">
              <div class="table-responsive my-3">
                <table class="table table-hover" id="pc-dt-simple">
                    <thead>
                      <tr>
                        <th class="text-end">#</th>
                        <th>Product Detail</th>
                        <th>Car No.</th>
                        <th>Amount</th>
                        <th>User</th>
                        <th>Mode</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                      <tr>
                        <td class="text-end">{{forloop.counter}}</td>
                        <td>
                          <div class="row">
                            <div class="col-auto pe-0">
                            {% for image in booking.car.carimages_set.all|slice:":1" %}
                            <a href="{% url 'admin_show_car_details' booking.car.slug %}" target="_blank" rel="noopener noreferrer">
                              <img src="{{image.car_images.url}}" alt="user-image" class="wid-60 rounded">
                            </a>
                            {% endfor %}
                            </div>
                            <div class="col">
                              <h6 class="mb-1">{{booking.car.brand}}, {{booking.car.year}}</h6>
                              <p class="text-muted f-12 mb-0">{{booking.car.car_type.car_types}}, {{booking.car.body_type}}</p>
                            </div>
                          </div>
                        </td>
                        <td><span class="p-2 bg-secondary bg-opacity-25">{{booking.car.car_number}}</span></td>
                        <td>AED {{booking.total_amount}}</td>
                        <td>{{booking.user.first_name}} {{booking.user.last_name}}</td>
                        <td>{% if booking.payment_mode %}{{booking.payment_mode}}{% else %}Processing{% endif %}</td>
                        {% if booking.is_paid %}
                        <td><span class="badge bg-light-success f-12">Paid</span></td>
                        {% else %}
                        <td><span class="badge bg-light-danger f-12">Unpaid</span></td>
                        {% endif %}
                        <td class="text-center">
                          <ul class="list-inline me-auto mb-0">
                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="View">
                              <a href="ecom_product-list.html#" class="avtar avtar-xs btn-link-secondary btn-pc-default" data-bs-toggle="modal"
                                data-bs-target="#cust-modal">
                                <i class="ti ti-eye f-18"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Edit">
                              <a href="ecom_product-add.html" class="avtar avtar-xs btn-link-success btn-pc-default">
                                <i class="ti ti-edit-circle f-18"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Delete">
                              <a href="{% url 'delete_booking' booking.id %}" class="avtar avtar-xs btn-link-danger btn-pc-default">
                                <i class="ti ti-trash f-18"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
</div>
{% endblock %}